
div{
    background-color: black;
    color: green;
    max-width: 400px;
    max-height: 4em;
    overflow-y: auto;
}

ul{
   width: 350px;
   list-style: upper-roman;
 }

ul ul{
    list-style: lower-roman;
}